.CircleCard:hover img,
.CircleCard:hover h4 {
    filter: opacity(0.7);
}

.CircleCard-div {
    display: flex;
    justify-content: space-between;
    filter: brightness(0.85);
    cursor: pointer;
}


.CircleCardItem {
    width: 30%;
}

.CircleCardItem img{
    border: 10px solid transparent;
    transition: all 0.3s ease-out;
}

.CircleCardItem:hover img {
    border: 0px solid transparent;
    filter: opacity(1);
}

.CircleCardItem:hover h4 {
    filter: opacity(1);
}

@media (max-width: 767px) {
    .CircleCard-div {
        flex-direction: column;
    }

    .CircleCardItem {
        width: 60%;
        margin: auto;
    }
}