.Answer-Big {
    width: 80%;
    margin: auto;
}

.Answer-Big .Answer {
    width: 100%;
    cursor: default;
}

.Answer-Big-inner {
    position: absolute;
    left: 16px;
    top: calc(50% - 18px);
}

.Answer-Big-inner p {
    font-size: 24px;
}