.CardIntro {
    background-color: white;
}

.Card-Container {
    display: flex;
    justify-content: space-between;
}

.Card-Item {
    box-sizing: border-box;
    width: 30%;
    margin: auto;
    cursor: pointer;
}

.Card-title {
    border-bottom: 4px transparent solid;
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: clip; 
}

.CardWidth-Item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.CardWidth-Img {
    min-height: 400px;
    flex: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.CardWidth-Info {
    flex: 1;
}

.CardWidth-Item:nth-child(even) {
    flex-direction: row-reverse;
}

@media (max-width: 992px) {
    .Card-Container {
        flex-direction: column;
    }

    .Card-Item {
        width: 90%;
    }

    .CardWidth-Item {
        flex-direction: column;
    }

}
